.main_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20vh 15vw;
  background-color: gray;
  height: 60vh;
  width: 70vw;
}
.context {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10vh 15vw;
  height: 45vh;
  width: 55vw;
  background-color: white;
  border-radius: 1%;
}
.header {
  display: flex;
  justify-content: center;
  font-weight: 500;
  height: 5vh;
  margin-top: 15vh;
}
.detailsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15vh 10vw;
  height: 10vh;
}
.detailsection > .text {
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 10px auto;
  padding: 10px;
}

.detailsection > .text:focus { /* added this to remove outline while focused on input */
  outline: none;
}

.btn {
  background-color: #050505; /* background and background-color both are different properties */;
  border-radius: 7px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px 0 ;
}

.btn:hover {
  background-color: #ffffff;
  color: #050505;
  text-decoration: none;
}
