body{
  background-color: #000000;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

